/*media query for 768px tablet*/
@font-face {
  font-family: "enso";
  src: url("../fonts/enso.ttf");
}
@font-face {
  font-family: "SalesforceSans-Regular";
  src: url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot");
  src: url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff") format("woff"), url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.svg#SalesforceSans-Regular") format("svg");
}
@font-face {
  font-family: "ITCAvantGardeW04-Demi";
  src: url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.eot");
  src: url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.woff") format("woff"), url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2d1d3d5c6e16809e9aaeb413f0687ebc.svg#ITCAvantGardeW04-Demi") format("svg");
}
body {
  color: rgba(0, 0, 0, 0.6);
  font-family: SalesforceSans-Regular;
}

.d-block.w-100 {
  vertical-align: middle;
  max-height: 650px;
  object-fit: cover;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar-brand {
  font-family: enso;
  font-size: 2vw;
  color: #469fc2 !important;
}

.navbar-toggler-icon {
  color: #469fc2 !important;
}

.nav-link {
  text-align: center;
}

.ttle {
  color: rgba(241, 234, 234, 0.815);
}

.col-sm {
  padding-top: 40px;
}

#texts {
  padding-top: 4em;
  padding-bottom: 2em;
}

#descript {
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #f9f5f4a1;
}

#descript h3 {
  font-weight: 300;
}

.card {
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.card-sm {
  margin: 0 auto;
  width: 22rem;
}

.card-title {
  color: rgba(0, 0, 0, 0.9);
}

.card-img-top {
  border-radius: 10px;
}

.container-lg {
  max-width: 100vw;
}

.single-card {
  padding-bottom: 1.5em;
}

#foter {
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #8baeebc7;
  color: #ffffff;
}

#foter h3 {
  font-size: 3em;
}

.img-foter {
  vertical-align: middle;
  border-style: none;
  max-width: 2.3vw;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 300;
}

.btn-primary {
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-color: white;
  font-size: smaller;
  padding: 0;
}

.button-submit {
  border-radius: 0;
  width: 23%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fff;
  padding: 0.45em;
  margin: 0 0 0 auto;
  display: block;
}

hr {
  margin-top: 3em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid #ffffff;
}

.media .row {
  flex-direction: row;
}

.media-sm {
  flex-direction: row;
}

.text-copyright {
  text-align: center !important;
  font-size: 0.9em;
}

.author {
  color: #469fc2;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.contact-form {
  padding-top: 2em;
}

#foter input::placeholder {
  color: #ffffff;
}

#foter textarea::placeholder {
  color: #ffffff;
}

.menu-social {
  display: none;
}

.form-control {
  border-radius: 0;
  padding: 0.6em 0.75em;
  border: 1px solid #769fe6d9;
  background-color: #769fe6d9;
}

.form-control:focus {
  border: 1px solid #769fe6d9;
  background-color: #769fe6d9;
}

.social-media {
  word-break: break-all;
}

.subtitle-foot {
  font-weight: 300;
  margin: 3% 0 8% 0;
  line-height: 1.3em;
  font-size: 1.5rem;
  padding: 10px 0 20px 0;
}

@media only screen and (min-width: 600px) {
  .media .row {
    flex-direction: row;
  }

  .media-sm {
    flex-direction: row;
    padding-bottom: 0.5em;
  }

  .social-media {
    padding-bottom: 1em;
  }

  .contact-form {
    padding-top: 2em;
  }
}
@media only screen and (max-width: 599px) {
  .navbar-brand-sm {
    font-size: 6vw;
  }

  .row {
    flex-direction: column;
  }

  .social-media {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
